<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ include_style('/assets/learn/css/tailwind.output.css') }}
        <title>
            {% block judul %} Learn everything {% endblock %}
        </title>
    </head>
    <body class="bg-slate-600">
		<div class="flex justify-center pt-4 w-full h-screen">
			<div>
				{% block content %} {% endblock %}
			</div>
        </div>
		<script>
			document.body.addEventListener('htmx:configRequest', function (evt) {evt.detail.headers['X-Frappe-CSRF-Token'] = "{{ frappe.session.csrf_token }}";});
		</script>
		<script
			src="https://unpkg.com/htmx.org@1.9.11"
			integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
		{% block script %}
		{% endblock %}
    </body>
</html>
