{% extends "templates/layout.html" %} {% block judul %} Chat {% endblock %}
{% block content %}
<!-- content -->
<div class="min-w-96 border border-slate-400 shadow-slate-300 shadow rounded-md p-4 text-slate-300">
	<!-- TITLE -->
	<div>
		<h1 class="text-xl font-bold text-center mb-2">Chating</h1>
		<span class="block border"></span>
	</div>
	<!-- end of TITLE -->
	<!-- Notification -->
	<div id="notification" class="w-full max-w-[25rem]">
	</div>
	<!-- end of notif -->
	<!-- Content MSG -->
	<div
		class="w-full"
		hx-trigger="every 3s"
		hx-get="/api/v2/method/LearnChatHistory/get_all?id_chat=General"
		hx-swap="innerHTML"
		hx-target="#content_msg"
		hx-on::load="contentMsg.scrollTo(0, contentMsg.scrollHeight);"
	>
		<div id="content_msg" class="mt-2 text-sm w-full max-h-[75vh] pr-2 overflow-x-auto" autofocus>
		</div>
	</div>
	<!-- end of Content MSG -->
	<!-- Form new message -->
	<form
		hx-post="/api/v2/method/LearnChatHistory/create_new"
		hx-swap="innerHTML"
		hx-target="#hidden"
		hx-on::after-request="document.querySelector('#msg').value = ''; document.querySelector('#msg').focus(); contentMsg.scrollTo(0, contentMsg.scrollHeight);"
	>
		<div class="flex flex-row gap-2 bg-slate-500 rounded-md mt-5 p-2">
			<input class="bg-transparent w-full text-sm" type="text" name="msg" id="msg">
			<button class="right-2 bg-slate-600 hover:bg-blue-600 hover:text-white py-1 px-2 rounded-md" type="submit">Send</button>
		</div>
	</form>
	<!-- end of Form new message -->
</div>
<div class="hidden" id="hidden"></div>
<!-- end of content -->
{% endblock %}
{% block script %}
<script>
	const contentMsg = document.querySelector("#content_msg");
</script>
<!-- <script>
	document.body.addEventListener('htmx:wsConfigSend', function (evt) {
		evt.detail.headers['X-Frappe-CSRF-Token'] = "{{ frappe.session.csrf_token }}";
		evt.detail.triggeringEvent = "learn_chat_event"
	});
</script> -->
{% endblock %}
