<div class="w-full flex flex-col gap-2 justify-start text-right max-w-[23rem]">
	<div>
		<p class="text-xs pr-1">{{data.sender_id}}</p>
	</div>
	<div>
		<p class="inline-block bg-slate-500 px-4 py-2 rounded-lg whitespace-normal">{{data.message}}</p>
	</div>
</div>
