{% if error == True %}
<div hx-swap-oob="innerHTML:div#notification">
	<span class="block bg-red-600 text-white px-2 py-1 rounded-md my-2 text-sm">
		<p>{{ message }}</p>
	</span>
</div>
{% elif error == False %}
<div hx-swap-oob="innerHTML:div#notification">
	<span class="block bg-green-600 text-white px-2 py-1 rounded-md my-2 text-sm">
		<p>{{ message }}</p>
	</span>
</div>
{% else %}
<div hx-swap-oob="innerHTML:div#notification"></div>
{% endif %}
